@import "tailwindcss";
@plugin '../../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@config "../../tailwind.config.js";

@layer base {
	/* * {
		@apply border;
	} */
	*::-webkit-scrollbar {
		@apply h-2 w-2;
	}
	*::-webkit-scrollbar-thumb {
		@apply bg-primary-50 rounded-full;
	}
	@supports not selector(::-webkit-scrollbar) {
		body {
			@apply bg-primary;
		}
	}
	body {
		@apply bg-background text-foreground font-sans;
	}
	/* html {
		@apply h-screen;
	} */
	:root {
		--radius: 0.5rem;
	}
}

@layer utilities {
	.gradient-text {
		background: linear-gradient(270deg, #06b6d4, #6366f1, #f472b6, #06b6d4);
		background-size: 200% 200%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		animation: gradient-move 3s linear infinite alternate;
	}

	@keyframes gradient-move {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 100% 50%;
		}
	}
}
